<div class="container mx-auto mt-6 font-mono">
    <div class="mb-5 w-full rounded overflow-hidden shadow-lg items-center flex justify-between">
        <div class="px-6 py-4">
            <p class="font-bold text-xl mb-2">{{posts.title}}</p>
            <p class="text-gray-700 text-base">{{posts.description}}</p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{format_date posts.createdAt}}</span>
            <button id="edit-post" class="px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900" data-id="{{post.id}}">Edit Post</button>
            <button id="stop-edit" class="hidden px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Cancel</button>
            <button id="delete-post" class="px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900" data-id="{{posts.id}}">Delete</button>
        </div>
    </div>
</div>
{{!-- Edit Post --}}
    <div id="show-edit-form" class="hidden flex items-center justify-center font-mono">
        <div class="px-8 py-6 w-full mx-44 mt-4 text-left bg-white shadow-lg">
            <h3 class="text-2xl font-bold text-center">Edit Post</h3>
            <form id="edit-form">
                <div class="mt-4">
                    <div>
                        <label class="block" for="title">Title<label>
                                <input id="edit-title" type="text" placeholder="{{posts.title}}"
                                    class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="mt-4">
                        <label class="block">Description<label>
                                <textarea id="edit-desc" type="text" placeholder="{{posts.description}}"
                                    class="w-full px-4 py-2 mt-2 border h-44 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"></textarea>
                    </div>
                    <div class="flex items-center justify-center">
                        <button type="submit"
                            class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Edit Post</button>
                    </div>
                </div>
            </form>
        </div>
<script src="../js/newComment.js"></script>
<script src="../js/delete.js"></script>
